*{
    margin: 0;
    padding: 0;
}

.back-color{
    background-color: green;
    opacity: 0.3;
    width: 100px;
    height: 100px;
    /* When using the opacity property to add transparency 
    to the background of an element, all of its child elements inherit the same transparency.
     This can make the text inside a fully transparent element hard to read. */
}
.image-one{
    height: 100vh;
    background-image: url('../image/pexels-pixabay-257360.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.image-two{
    height: 100vh;
    background-image: url('../image/pexels-pixabay-257360.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section{
    background-color: rgb(18, 20, 18);
    color:white;
  
}
.float{
    display: inline-block;
    padding: 10px;
}
.floats{
    float:left;
    width: 25%;
    background-color: yellow;
}
.clear{
    clear:both;
}