body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    box-sizing: border-box;
}
.section-one{
    color:coral;
    background: darkslategrey;
}
.section-one .heading h1 {
    color:darkturquoise;
}
.content{
    color: gold;
    background-color: deepskyblue;
}
.absolute-unit{
    width: 300px;
    height: 300px;
    background-color: indianred;
}
.relative-unit{
    width: 50%;
    height: 50%;
    background-color: rgb(27, 32, 99);
}
ul li {
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    background-color: indianred;
    padding-top:10px;
    margin: 100px;
     /* width:500px;
     height: 100px;
     display: block; */
     /* we can not give width and height for inline elements;
     and margin top and bottom also; */


    
}
.block{
    display: inline;
    width:500px;
     height: 100px;
     padding-top:10px;
     background-color: yellow;
     box-shadow: 10px 10px 5px grey;
}
.inline-block{

    display: inline-block;
    width:500px;
     height: 100px;
     padding:100px;
     background-color: rgb(60, 255, 0);

     /* element  act as inline element  but it accept width and height */

}
