
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    position: sticky;
    top:0;
    left: 0;
    z-index: 10;

}
.navbar .navbar-brand {
    color: aqua;

}
#navbarSupportedContent a{
    color:white;
    border-bottom: 2px solid transparent;
}
#navbarSupportedContent a:hover{
   
    border-bottom: 2px solid rgb(62, 233, 62);
}
.home{
    width:100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: honeydew;
    background: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,1)), url(./assets/contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}
.input-group{
    width: 40%;
}

.bg{
    color: azure;
}
.card{

    background: #eee;
    box-shadow: 0 8px 8px -4px 
}

 
