body{

    margin: 0;
    padding: 0;
}
.box-1{
    color: wheat;
    background-color: red;
    width:100px;
    height: 100px;
    padding: 20px;
    border: 20px solid yellow;
    margin:50px;
  /* total width 100+40+40 = 180; */
    
}
.box-2{

    color: wheat;
    background-color: rgb(25, 0, 255);
    width:300px;
    height: 100px;
    box-sizing: border-box;
    padding: 20px;
    border: 20px solid yellow;
    margin:70px;
  
    /* margin collapse will happen */
    /* total width 300px */

}