:root {
    --blue: #1e90ff;
    --white: #ffffff;
  }
 
 body {
     margin: 0;

     padding: 0;
     background-color: rosybrown;
 }

 .gradient{
     color:green;
     text-align: center;
    height: 100px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(180deg, red, yellow);
 }
 .radial-gradient{
    color:green;
    height: 100px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: radial-gradient(red, yellow, green)
 }
 .media{
     background-color: greenyellow;
 }
 .media h1{
    color: red;
    text-align: center;
      
 }
 /* 320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.
769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
1201px and more — Extra large screens, TV. */

 @media screen and (min-width:576px){

    body{
        background-color: rosybrown; 
    }
    .media{
        background-color: red;
    }
    .media h1{
        color: yellow;
        text-align: center;
          
     }
    
 }
 .topnav {
    overflow: hidden;
    background-color: #333;
  }
  @media screen and (max-width: 600px) {
    .topnav a {
display: block; 
text-align: center;
     width: 100%;
    }
}
.width{
    max-width: 500px;
    height: 100px;
    background-color: black;
}
.width-change{
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
    color: var(--blue);
    background-color: black;
}
.resize{
    border: 2px solid;
  padding: 20px; 
  width: 300px;
  resize: horizontal;
  overflow: auto;
}
div.outline {
    margin: 20px;
    border: 1px solid black;
    outline: 4px solid red;
    outline-offset: 15px;
  } 

  .center {
    text-align: center;
  }
  
  .pagination {
    display: inline-block;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
  }
  
  .pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

.object-fit img{
  width: 500px;
  height: 300px;
  object-fit: cover;
  background-color: #1e90ff;  
}
.object-contain img{
  width: 500px;
  height: 300px;
  object-fit: contain;
  background-color: #1e90ff;  
}
.object-fill img{
  width: 500px;
  height: 300px;
  object-fit: fill;
  background-color: #1e90ff;  
}
  .transform{
          width:300px;
          height:100px;
          background-color: #1e90ff;  
          display: inline-block;    
  }
   .transform-one{
      
      background-color:red;
      transform: translatex(50px);

  }