body {
    margin: 0px;
    padding: 0px;

}
.flexbox {

    background-color: black;
    color: wheat;
    padding: 50px;
    display: flex;
 /* 
    justify-content spacing between horizontal axis in x-axis
    justify-content: center;
    => it align all child element in center
 */
      
/* 
     justify-content: space-between;
      it spread space equals in the items between
 */

/*         
     justify-content: space-evenly;
      it spread space equals to left and right side of element
      
*/


/*   flex-direction: row-reverse;
    flex-direction: column-reverse;
*/
 /* 
    initialy display direction set to row

 */
 
 
 /*   align-items has center the items in vertically 
      its initial value is strech
      it includes
      align-items: flex-end;
      align-items: flex-start;
      align-items: baseline ;
      used for algin text in same line
 align-items: center;
  */
    
}
.item {
    background-color: yellow;
    margin: 30px;
    padding: 50px;
    color: violet;
    font-size: 16px;
}
 .i2{
     
     flex-basis: 100px;
     flex-grow:1;
 }
 .i1{
     flex-grow: 0;
 }