
/* universal selector */
*{
    margin: 0;
    padding: 0;
}
 div {
     color:white;
     background-color: yellow;
     width: 100px;
     height: 100px;
 }
 .class-selector{
    color:white;
    background-color: rgb(60, 50, 205);
    width: 200px;
    height: 100px;
 }
 #id-selector{
    color:white;
    background-color: rgb(50, 200, 205);
    width: 300px;
    height: 100px;
 }

 div a {
     display: block;
 }

 div > h1{
    color: red;

 }


 .pesudo-class a:active{
    background-color: yellow;

 }
 .pesudo-class .radio:checked {
    height: 50px;
    width: 50px;
  }
 .pesudo-class .text:focus {
    background-color: yellow;
  }