*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

section{
    background-color: yellow;
    width:500px;
    padding: 20px;
    position:relative;

    
}
/* .child-one{
    background-color: rgb(30, 255, 0);
    width: 100%;
    padding: 20px;
    position: relative;
    bottom: 10px; 

    
}
.child-two{
    background-color: rgb(255, 123, 0);
    width: 100%;
    padding: 20px;
    position: relative;
    top: 10px; 


}
.child-three{
    background-color: rgb(0, 247, 255);
    width: 100%;
    padding: 20px;
    position: relative;
    left: 10px; 


} */

/* absolute
.child-one{
    background-color: rgb(30, 255, 0);
    width: 100%;
    padding: 20px;
    position: absolute;  
    top:0px;
    left:0px;
    
}
.child-two{
    background-color: rgb(255, 123, 0);
    width: 100%;
    padding: 20px;
   


}
.child-three{
    background-color: rgb(0, 247, 255);
    width: 100%;
    padding: 20px;
    


} */

.child-one{
    background-color: rgb(30, 255, 0);
    width: 100%;
    padding: 20px;
    position: fixed;  
    top:0px;
    left:0px;
    
}
.child-two{
    background-color: rgb(255, 123, 0);
    width: 100%;
    padding: 20px;
   


}
.child-three{
    background-color: rgb(0, 247, 255);
    width: 100%;
    padding: 20px;
    


}

img {
    width: 100px;
    height: 100px;
    position: absolute;
}
.index{
    width:80vh;
    height: 70vh;
    border: 10px solid red;
    position: relative;

}
.one{
    top:0;
    left:0;
    position: static;
    z-index: 45;
        /* z-index does not work on static postion */

}
.two{
    top:10%;
    left:10%;
    z-index: -24;
}
.three{
    top:30%;
    left:30%;
    z-index:-100;

}